<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Casting Agency</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .sub {
            font-size: 20px;
            font-weight: bolder;
        }

        .permissions {
            font-size: 18px;
        }

        .tag {
            margin-left: 10px;
        }
    </style>
</head>


<body>
    <section class="section">
        <div class="box">
            <center>
                <h1 class="title">Casting agency</h1>
                <p class="subtitle">An API to keep track of Movies and Actors</p>
            </center>

            <h1 class="title">Login credentials</h1>
            <p><span class="sub">Casting Assistant</span>
                <span class="tag is-info is-medium is-light">get : actors</span>
                <span class="tag is-info is-medium is-light">get : movies</span>
            </p>
            <p>Username: user1@agency.com<br />password: Agency@123</p>
            <p><span class="sub">Casting Director</span>
                <span class="tag is-info is-medium is-light">get : actors</span>
                <span class="tag is-info is-medium is-light">get : movies</span>
                <span class="tag is-info is-medium is-light">post : actors</span>
                <span class="tag is-info is-medium is-light">patch : movies</span>
                <span class="tag is-info is-medium is-light">delete : actors</span>
                <span class="tag is-info is-medium is-light"> patch : actors</span>
            </p>
            <p>Username: user2@agency.com<br />password: Agency@123</p>
            <p><span class="sub">Executive Producer</span>
                <span class="tag is-info is-medium is-light">get : actors</span>
                <span class="tag is-info is-medium is-light">get : movies</span>
                <span class="tag is-info is-medium is-light">post : actors</span>
                <span class="tag is-info is-medium is-light">post : movies</span>
                <span class="tag is-info is-medium is-light"> patch : actors</span>
                <span class="tag is-info is-medium is-light">patch : movies</span>
                <span class="tag is-info is-medium is-light">delete : actors</span>
                <span class="tag is-info is-medium is-light">delete : movies</span>


            </p>
            <p>Username: user3@agency.com<br />password: Agency@123</p>

            <br />
            <a class="button is-primary" href="/login">Log In</a>
        </div>
    </section>
</body>

</html>